<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutus.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border-radius: 50%;
}

.paragraphs { 
text-align: center;
background-color: powderblue;
font-size: 20px;

 }


</style>


    
<div class="all">

        <title>About us</title>
        </head>
        <body>

    <h1 text-align: center;>About us</h1>
    <br>
    <br>
    <br>
    <div class="paragraphs" class="container">
    <h2>The.draWer.W</h2>
    <p>
    	The
    	<br>
    	Writer
    	<br>
    	World
    	<br>
    	The.draWer.W is a website were you can Sign up, Log in and post your songs with the rest of the world!:).
    	<br>
    	<h3>
    		Our Mission and Vision:
    	</h3>
    	Bring together musicians and writers, by that you empower the writers and they can learn from each other and improve their skills which going to help a lot to starter artists.
    </p>
    </div>
<div class="img_left">
    <img class="space_img" src="../static/inon.jpeg" alt="Avatar" style="width:200px">
<div class="names">
	<h3>
    <span class="space_name" >Inon</span>
    </h3>
</div>
</div>
    </body>
</div>

</html>












